@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Alegreya", serif;
}
.season-great {
  margin: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 5px solid #d3ba34;
  /*color: #05c46b; */
  animation: christmas 5s infinite;
  font-size: 40px;
}
@keyframes christmas {
  from {
    color: #05c46b;
  }
  to {
    color: #f53b57;
  }
}
header {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-around;
  background-color: #dcdde1;
  margin-bottom: 25px;
}
nav {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}
.nav-item {
  color: #d3ba34;
}
.nav-item:hover {
  color: black;
  transition: all 500ms ease;
}

.logo-nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}
.icon {
  width: 30px;
}
.top-contact {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  flex-wrap: wrap;
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.logo {
  width: 100%;
  display: flex;
  max-width: 250px;
  align-items: center;
}
ul,
ol {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  padding: 15px;
  font-size: 25px;
}
li {
  padding: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.email {
  width: 295px;
}

.nav-desc:hover .dropdown-content {
  display: block;
}
ul li:before {
  content: "✓ ";
  color: #d3ba34;
}
.incoming {
  text-align: center;
  margin-bottom: 10px;
  color: #d3ba34;
  margin: 10px;
}
li:hover,
.contact-item:hover {
  color: #d3ba34;
  transition: all 500ms ease;
}
.nav-desc {
  text-align: center;
}
.buy-sell {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  border-bottom: 5px solid #d3ba34;
  padding: 10px;
}
.buy {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin: 10px;
}
.sell {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin: 10px;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
#location {
  margin: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 5px solid #d3ba34;
  flex-wrap: wrap;
}
.contact-us {
  /* margin: 20px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bottom-contact {
  margin: 20px;
}
.google-map {
  display: flex;

  margin: 20px;
}
.contact-name,
.footer-name {
  color: #d3ba34;
}
.feature-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}
.feature-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin: 10px;
  border-radius: 1.5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.feature:hover {
  color: gray;
  transition: all 500ms ease;
}
.feature-img {
  width: 200px;
}
.address {
  color: #d3ba34;
  font-size: 30px;
}

footer {
  margin-top: 20px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #dcdde1;
}
.footer-text {
  margin: 10px;
}
.affiliate {
  width: 170px;
}

@media screen and (max-width: 700px) {
  .buy-sell {
    flex-wrap: wrap;
  }
  .feature-img {
    width: 200px;
  }
  .google-map iframe {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 465px) {
  .google-map iframe {
    width: 350px;
    height: 220px;
  }
}

@media screen and (max-width: 415px) {
  .google-map iframe {
    width: 300px;
    height: 220px;
  }
}

@media screen and (max-width: 365px) {
  .google-map iframe {
    width: 250px;
    height: 220px;
  }
}
@media screen and (max-width: 300px) {
  .google-map iframe {
    width: 200px;
    height: 220px;
  }
}
